<div class="concon">
    <div style="text-align: right;">
        <button class="realbut" routerLink="">back</button>
    </div>
    <h2>In this Tutorial you are gonna learn how to Minesweeper: </h2>
    <div>
        <h3>Input: </h3>
        <p>With the Input you can customize the dimensions and difficulty of Minesweeper:</p>
        <div><img src="../../assets/pics/inputex.png" alt="input explanation"></div>
    </div>
    <hr>
    <div>
        <h3>How to Play:</h3>
        <p>This is how the default minefield looks like with unrevealed tiles:</p>
        <div><img src="../../assets/pics/fieldex.png" alt="field explanation"></div>
        <div class="flex">
            <span>You reveal a tile with</span>
            <span><img src="../../assets/pics/leftclick.jpg" alt="left click" height="20px"></span>
        </div>
    </div>
    <hr>
    <div>
        <h3>How to win:</h3>
        <p>You need to reveal <b>all</b> the tiles that dont have a bomb:</p>
        <p>You can encounter:</p>
        <table>
            <tr>
                <td>A bomb </td>
                <td><img class="smolpic" src="../../assets/pics/bomb.png" alt="Bomb pic"></td>
                <td>
                    <div class="flex">
                        <span>Means Gameover</span>
                        <span><img class="smolpic" src="../../assets/pics/explosion.png" alt="Explosion pic"></span>
                    </div>
                </td>
                <td rowspan="4" class="revdemo">
                    <img src="../../assets/pics/Screenshot17.jpg" alt="reveal demo" height="250px">
                </td>
            </tr>
            <tr>
                <td>Nothing</td>
                <td><img class="smolpic" src="../../assets/pics/rev.png" alt="Revealed tile pic"></td>
                <td>Will reveal all other empty tiles around it and their adjacents. Like this &rarr;</td>
            </tr>
            <tr>
                <td>A number</td>
                <td><img class="smolpic" src="../../assets/pics/2.png" alt="tile with a number pic"></td>
                <td>Shows number of adjacent mines around it.<br>
                    Some examples to demonstrate that &darr;</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="flex">
                        <div class="subflexblock" style="margin-left: 5%;">
                            <h5>2 adj mines:</h5>
                            <img src="../../assets/pics/adj2.png" alt="2 in middle" height="60px">
                        </div>
                        <span class="arrowblock2">&rarr;</span>
                        <div class="subflexblock" style="margin-right: 8%;">
                            <h5>fully revealed:</h5>
                            <img src="../../assets/pics/adj2rev.png" alt="2 in middle adjs revealed" height="60px">
                        </div>
                        <div class="subflexblock" style="margin-left: 8%;">
                            <h5>example with 3:</h5>
                            <img src="../../assets/pics/adj3.png" alt="3 in middle" height="60px">
                        </div>
                        <span class="arrowblock2">&rarr;</span>
                        <div class="subflexblock" style="margin-right: 5%;">
                            <h5>revealed:</h5>
                            <img src="../../assets/pics/revealed3.png" alt="3 in middle adjs revealed" height="60px">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-top: 10px;">
            <tr>
                <td>Use the numbers to figure out where the bombs are and step around them or flag (see flags feature &darr;) them.</td>
            </tr>
            <tr>
                <td>
                    <div class="picwithtext">
                        A win could look like this: <br>
                        <img src="../../assets/pics/win.png" alt="win field pic" height="250px">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Additionally a win alert will pop up and congratulate you.
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <h3>Features that make playing easier:</h3>

        <h4>Flags:</h4>
        <div class="flex">
            <span>When you suspect that a tile has a bomb, you can put a flag</span>
            <span><img src="../../assets/pics/flag.png" alt="flag" height="20px"></span>
            <span>on a tile with</span>
            <span><img src="../../assets/pics/rightclick.jpg" alt="right click" height="20px"></span>
        </div>
        They make it impossible for you to reveal it.
        <div class="flex" style="margin-top: 5px;">
            <span>But you can always remove it again with</span>
            <span><img src="../../assets/pics/rightclick.jpg" alt="right click" height="20px"></span>
        </div>
        <table>
            <tr>
                <td>This display counts down the bombs you have flagged:</td>
                <td><img src="../../assets/pics/mines.jpg" alt="mines left display"></td>
            </tr>
            <tr>
                <td>
                    Keep in mind that this will count wrong flags.<br>
                    So you might end up with a negative number:</td>
                <td><img src="../../assets/pics/minesneg.jpg" alt="mines left display"></td>
                <td>That means <br> you have set more flags than there are bombs.</td>
            </tr>
        </table>
        <p>You <b>can</b> win without flags.<br>
            But they will help you remember. And you need them to in order to use the next feature:</p>

        <h4>Clicking a number:</h4>
        <p>This, a little more advanced feature, allows you to click on a number to reveal its surrounding tiles,<br>
            <b>if</b> the amount of adjacent flags is the same as the clicked number.<br>
        </p>
        <table>
            <tr>
                <td>
                    <div class="flex">
                        <div class="picblock">
                            <h5>That means if you click this 2:</h5>
                            <img src="../../assets/pics/2ndexamplenumclick.png" alt="example1" height="80px">
                        </div>
                        <div class="arrowblock1">
                            &rarr;<h5>Because there are 2 <br>flags next to it </h5>&rarr;
                        </div>
                        <div class="picblock">
                            <h5>It will open the tiles around it:</h5>
                            <img src="../../assets/pics/2ndexamplenumclick2.png" alt="example2" height="80px">
                        </div>
                        <div class="arrowblock1">
                            &rarr;
                        </div>
                        <div class="picblock">
                            <br>
                            <h5>Lets click this 1</h5>
                            <img src="../../assets/pics/2ndexamplenumclick3.png" alt="example3" height="80px">
                        </div>
                        <div class="arrowblock1">
                            &rarr;
                        </div>
                        <div class="picblock">
                            <br>
                            <h5>and this 1</h5>
                            <img src="../../assets/pics/2ndexamplenumclick4.png" alt="example4" height="80px">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        As you can see you can reveal a lot with this in a short amount of time.<br>
        But it can also be your downfall: <br>
        Because, if your flag is wrong, then this feature will reveal a bomb and you loose.
        <table>
            <tr>
                <td>
                    <div class="flex">
                        <div class="picblock">
                            <h5>Wrong flag:</h5>
                            <img src="../../assets/pics/downfall1.png" alt="downfallexample1" height="80px">
                        </div>
                        <div class="arrowblock2">
                            &rarr;<h5>Clicking on <br>the 1</h5>&rarr;
                        </div>
                        <div class="picblock">
                            <h5>Reveals bomb:</h5>
                            <img src="../../assets/pics/downfall2.png" alt="downfallexample2" height="80px">
                        </div>
                        <div class="arrowblock2">
                            <h5>and you lost</h5>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <h4>After Gameover:</h4>
        <p>The last feature is for when you already lost:<br>
            To know where you went wrong, </p>
        <table>
            <tr>
                <td><img src="../../assets/pics/wrongflag.png" alt="wrong flag" height="25px"></td>
                <td>A red background tells you that you wrongly flagged a tile as bomb.</td>
            </tr>
            <tr>
                <td><img src="../../assets/pics/corrflag.png" alt="correct flag" height="25px"></td>
                <td>A green background tells you a correct flag.</td>
            </tr>
        </table>
        <div class="picwithtext">
            So a loss could look like this: <br>
            <img src="../../assets/pics/loss.png" alt="loss field" height="250px">
        </div>
        <hr>
        <h3>Final words:</h3>
        <p> I hope with this tutorial, you got a basic understanding of the game and how to play it.<br>
            If not, you can also always ask me personally.</p>
        <p>gl hf </p>
        <p> &uarr; (good luck, have fun)</p>
        <h4 style="margin: 0;">Note: </h4>
        Minesweeper is currently developed for Mozilla Firefox.<br>
        Other browsers might display broken or unclear graphic.
    </div>
    <div style="text-align: right;">
        <button class="realbut" routerLink="">back</button>
    </div>
</div>