.realbut {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    margin: 5px;
    width: 60px;
}
.concon {
    background-color: white;
    padding: 20px;
    margin: 10px 0 0 0;
}
.flex {
    display: flex;
    align-items: center;
    text-align: center;
}
img {
    margin: 0 5px 0 5px;
}
.txtpic {
    float: right;
    text-align: center;
}
.smolpic {
    height: 20px;
}
.revdemo {
    max-height: 10px;
    overflow: visible;
}
.subflexblock {
    width: 16%;
}
.mid {
    margin-left: 26%;
}
.lilarrow {
    margin-top: 20px;
    width: 4%;
}
h5 {
    margin: 5px 0;
}
.picblock {
    width: 120px;
    margin: 0 5px;
}
.arrowblock1 {
    margin-top: 40px;
}
.arrowblock2 {
    margin-top: 20px;
}
.picwithtext {
    text-align: center;
    display: inline-block;
}
