.realbut {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    float: right;
    margin: 5px;
    width: 60px;
}
.concon {
    background-color: white;
    padding: 20px;
    margin: 10px 0 0 0;
}
.flex {
    display: flex;
}
img {
    margin: 0 5px 0 5px;
}
.txtpic {
    float: right;
    text-align: center;
}
.smolpic{
    height: 20px;
}
.revdemo{
    max-height: 10px;
    overflow: visible;
}
.subflex{
    width: 16%;
    text-align: center;
}
.mid{
    margin-left: 26%;
}
.lilarrow{
    margin-top: 20px;
    align-self: center;
    width: 4%;
}
h5{
    margin: 5px 0;
}