<div>
    <button class="realbut" routerLink="">back</button>
</div>
<div class="concon">
    <h3>In this Documentation you are gonna learn how to Minesweeper: </h3>
    <div>
        <h4>Input: </h4>
        <p>With the Input you can customize the dimensions and difficulty of Minesweeper:</p>
        <div><img src="../../assets/pics/inputex.png" alt="input explanation"></div>
    </div>
    <hr>
    <div>
        <h4>How to Play:</h4>
        <p>This is how the default minefield looks like with unrevealed tiles:</p>
        <div><img src="../../assets/pics/fieldex.png" alt="field explanation"></div>
        <div class="flex">
            <span>You reveal a tile with</span>
            <span><img src="../../assets/pics/leftclick.jpg" alt="left click" height="20px"></span>
        </div>
    </div>
    <hr>
    <div>
        <h4>How to win:</h4>
        <p>You need to reveal <b>all</b> the tiles that dont have a bomb:</p>
        <p>You can encounter:</p>
        <table>
            <tr>
                <td>A bomb </td>
                <td><img class="smolpic" src="../../assets/pics/bomb.png" alt="Bomb pic"></td>
                <td>
                    <div class="flex">
                        <span>Means Gameover</span>
                        <span><img class="smolpic" src="../../assets/pics/explosion.png" alt="Explosion pic"></span>
                    </div>
                </td>
                <td rowspan="4" class="revdemo">
                    <img src="../../assets/pics/Screenshot17.jpg" alt="reveal demo" height="200px">
                </td>
            </tr>
            <tr>
                <td>Nothing</td>
                <td><img class="smolpic" src="../../assets/pics/rev.png" alt="Revealed tile pic"></td>
                <td>Will reveal all other empty tiles around it and their adjacents. Like this &rarr;</td>
            </tr>
            <tr>
                <td>A number</td>
                <td><img class="smolpic" src="../../assets/pics/2.png" alt="tile with a number pic"></td>
                <td>Shows number of adjacent mines around it.<br>
                    Some examples to demonstrate that &darr;</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="flex">
                        <div class="subflex" style="margin-left: 5%;">
                            <h5>2 adj mines:</h5>
                            <img src="../../assets/pics/adj2.png" alt="2 in middle" height="60px">
                        </div>
                        <span class="lilarrow">&rarr;</span>
                        <div class="subflex">
                            <h5>fully revealed:</h5>
                            <img src="../../assets/pics/adj2rev.png" alt="2 in middle adjs revealed" height="60px">
                        </div>
                        <div class="subflex" style="margin-left: 16%;">
                            <h5>example with 3:</h5>
                            <img src="../../assets/pics/adj3.png" alt="3 in middle" height="60px">
                        </div>
                        <span class="lilarrow">&rarr;</span>
                        <div class="subflex" style="margin-right: 5%;">
                            <h5>revealed:</h5>
                            <img src="../../assets/pics/revealed3.png" alt="3 in middle adjs revealed" height="60px">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-top: 10px;">
            <tr>
                <td>Use the numbers to figure out where the bombs are and step around them or
                    <a href="/documentation/#flag">flag</a> them.
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align:center; display: inline-block;">
                        <div>A win could look like this: </div>
                        <img src="../../assets/pics/win.png" alt="win field pic" height="250px">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Additionally a win alert will pop up and congratulate you.
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <h4>Features that make life easier:</h4>

        <div class="flex" id="flag">
            <span>When you suspect that a tile has a bomb, you can put a flag</span>
            <span><img src="../../assets/pics/flag.png" alt="flag" height="20px"></span>
            <span>on a tile with</span>
            <span><img src="../../assets/pics/rightclick.jpg" alt="right click" height="20px"></span>
        </div>
        They make it impossible for you to reveal it.
        <div class="flex" style="margin-top: 5px;">
            <span>But you can always remove it again with</span>
            <span><img src="../../assets/pics/rightclick.jpg" alt="right click" height="20px"></span>
        </div>
        <p>You can win without flags but they will help you remember and you need them to use the next feature:</p>

        <p>This, a little more advanced feature, enables you to click on a number to reveal its surrounding tiles,<br>
            <b>if</b> the amount of adjacent flags is the same as the clicked number.<br>
        </p>
        <table>
            <tr>
                <td>
                    <div class="flex">
                        <div class="picblock">
                            <h5>That means if you click this 2:</h5>
                            <img src="../../assets/pics/2ndexamplenumclick.png" alt="2example1" height="80px">
                        </div>
                        <div class="arrow">
                            &rarr;<h5>Because there are <br>
                                2 flags next to it </h5>
                            &rarr;
                        </div>
                        <div class="picblock">
                            <h5>It will open the tiles around it:</h5>
                            <img src="../../assets/pics/2ndexamplenumclick2.png" alt="2example2" height="80px">
                        </div>
                        <div class="arrow">
                            &rarr;
                        </div>
                        <div class="picblock">
                            <br>
                            <h5>Lets click this 1</h5>
                            <img src="../../assets/pics/2ndexamplenumclick3.png" alt="2example3" height="80px">
                        </div>
                        <div class="arrow">
                            &rarr;
                        </div>
                        <div class="picblock">
                            <br>
                            <h5>and this 1</h5>
                            <img src="../../assets/pics/2ndexamplenumclick4.png" alt="2example4" height="80px">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        As you can see you can safe a lot of time with this.<br>
        But it can also be your downfall: <br>
        Because, if your flag is wrong, then this feature will reveal a bomb and you loose.
        <p>.</p>
        <!-- Note: sweeper scale = 30(original) to 20(in here) -->

        <p>The last feature is for when you already lost:<br>
        For you to be able to fully analyse your exploding, <br>
        there will be green and red backgrounds that indicate wether or not a flag you placed was on a bomb.<br>
        Those green bombs you discovered are unexplodable.<br>
        But if you like, you can still explode all the other mines. For fun.</p>
    </div>
    <div>
        <button class="realbut" routerLink="">back</button>
    </div>
</div>