<div class="bla" [ngStyle]="{'width': 30 * panelinrows + 'px' }">
    <div class="tut"><div>Never played?<br>No problem: </div><div routerLink="/documentation" class="fakebut">Documentation</div></div>
    <div class="input">
        <div style="font-size: 11px; text-align: center;">Here you can create your own minefield.<br>default: 10/10/15
        </div>
        <mat-form-field>
            <mat-label>rows</mat-label>
            <input matInput #rows (keypress)="onkey($event, rows.value, cols.value, mines.value)"
                (keyup)="diff(rows.value, cols.value, mines.value)" value="10" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>colums</mat-label>
            <input matInput #cols (keypress)="onkey($event, rows.value, cols.value, mines.value)"
                (keyup)="diff(rows.value, cols.value, mines.value)" value="10" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>mines</mat-label>
            <input matInput #mines (keypress)="onkey($event, rows.value, cols.value, mines.value)"
                (keyup)="diff(rows.value, cols.value, mines.value)" value="15" />
        </mat-form-field>
        <div class="appl" (click)="input(rows.value, cols.value, mines.value)">apply</div>
        <div style="font-size: 12px; text-align: center;"> Difficulty: {{difficulty}}</div>
    </div>
    <div class="headwrap">
        <div class="clockwrap">
            <div class="clock">
                <div *ngIf="hrtest > 0">{{hours}}:</div>
                <div>{{minutes}}:{{seconds}}</div>
            </div>
        </div>
        <div class="smiley" (click)="nw()">
            <div [hidden]="mousd === true || board.afterend === true">😐</div>
            <div [hidden]="board.afterend === false || board.winner === true">😖</div>
            <div [hidden]="mousd === false || board.afterend === true">😬</div>
            <div [hidden]="board.winner === false">😀</div>
        </div>
        <div class="mineswrap">
            <div class="mines">
                <div style="font-size: 10px;">mines:</div>{{board.minesleft}}
            </div>
        </div>
    </div>
    <div class="field">
        <button (click)="clicked(panel)" (mousedown)="mousedown()" (mouseup)="mouseup()" (contextmenu)="flagged(panel)"
            *ngFor="let panel of board.panels"
            [ngStyle]="{'border-style': panel.revealed === true ? 'inset' : 'outset'}">
            <div *ngIf="panel.revealed === true" class="reveld"
                [ngStyle]="{'background-color': panel.flag === true && panel.bomb === true ? 'green' : 'default'}">
                <div class="value"
                    [ngStyle]="{'background-color': panel.flag === true && panel.bomb === false ? 'red' : 'default'}">
                     {{panel.value}}
                </div>
            </div>
            
            <div *ngIf="panel.flag === true && panel.revealed === false || panel.bomb === true && board.winner === true">🚩</div>
        </button>
    </div>
</div>